
body {
    background: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#wrapper {
    width: 420px;
}

#total {
    text-align: left;
    margin-top: -15px;
    margin-bottom: -30px;
}


#form-grid {
    width: 420px;
    display: grid;
    grid-template-rows: auto auto auto;
    position: relative; /* important for absolute back card */
}


#front-card,
#back-card {
    width: 400px;
    height: 240px;
    border-radius: 15px;
    background: #d3d3d3;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.25);
}


#front-card {
    padding: 28px;
    z-index: 2;
    display: grid;
    gap: 20px;
}

#front-inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}


#back-card {
    padding: 25px;
    position: absolute;
    top: 50px;     
    left: 120px;     
    z-index: 1;

    display: grid;
    grid-template-rows: auto auto auto;
    gap: 16px;
    justify-items: end;
}

#back-card .black-strip {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    background: black;
    justify-self: stretch;
}

#back-card label {
    font-weight: bold;
    font-size: 0.85rem;
    margin-right: 5px;
}

#back-card input {
    width: 60px;
    height: 30px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #888;
    background: white;
}


label {
    font-weight: bold;
    font-size: 0.85rem;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #888;
    border-radius: 4px;
    background: white;
}

.exp-fields {
    display: flex;
    gap: 10px;
}


#submit-btn {
    grid-row: 3 / 4;
    justify-self: center;
    margin-top: 80px; 

    padding: 8px 20px;
    background: white;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
}

#submit-btn:hover {
    background: #eee;
}


#feedback {
    margin-top: 15px;
    font-weight: bold;
    text-align: left;
    color: darkred;
    font-size: 1rem;
}