body {
    background-color: #ffffff;
    font-size:  15px;
}

#content {
    max-width: 50%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
    padding-bottom: 20px;
}

p {
    color: #035f9c;
    font-size: 1em;
    text-align: center;
}

hr {
    height: 1px;
    background-color: #000000;
    /* width: 80%; */
    margin: 5px;

}

h1{
    text-align: center;
}

.left-align {
    font-size: 20px;
    text-align: left;
}

img {
    width: 20%;
    display: block;
    text-align: center;
    margin: 25px auto;
}
.image {
    display: block;
    text-align: center;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 70%;
}

#topics h2 {
    font-weight: normal;
    font-size: 16px;
    padding-top: 10px;
}

.list {
    text-align: left;
    line-height: 1.5em;
}

.list li {
    line-height: 2;
}