body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    border: 4px solid #2C2C2C; 
}

header {
    text-align: center;
    padding: 1.5rem 0;
}

header h1 {
    font-size: 2rem;
    color: #4A2941; 
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1.1rem;
}

header nav a {
    color: #B13A4A; 
    text-decoration: none;
}


header h1::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #E4AD6D; 
    margin: 10px auto 15px;
}

header nav::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #E4AD6D; 
    margin: 10px auto 0;
}

.movie {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    border-bottom: 2px solid #E4AD6D;
    position: relative;
}

.movie::after {
    content: "";
    display: block;
    width: 50%;
    margin: 30px auto 0;
}

.details {
    text-align: right;
    margin-bottom: 20px;
}

.details p {
    margin: 4px 0;
}

.stars {
    color: #DFA93A; 
}

.content h2 {
    color: #B33442; 
    text-align: center;
    margin-top: 0;
}

.movie img {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    border-radius: 4px;
}

#desc {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}

.author {
    text-align: center;
    margin-top: 30px;
}

@media (min-width: 800px) {

    header nav ul {
        justify-content: flex-end;
        margin-right: 40px;
    }

    .movie {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 40px;
    }

    .details {
        text-align: right;
    }

    .content h2 {
        text-align: left;
    }

    #desc {
        text-align: left;
        margin: 20px 0;
    }
}

footer {
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    margin-top: 40px;
}